.imgbox.yellow {
  transition: filter 1s;
  filter: sepia(1) hue-rotate(10deg);
}

.imgbox {
  transition: filter 1s;
}

/*
.imagebox:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: all .3s linear;
}
.imagebox:hover:before { 
  background: none;
} 
*/