.leftCaption .carousel-caption {
  text-align: left;
  bottom: 120px;
  left: 10%;
}

.leftCaption .carousel-caption h3 {
  font-family: Lato;
  font-weight: 700;
  font-size: 2.5rem;
}

.leftCaption .carousel-caption p {
  font-family: RobotoSlab;
  font-weight: 300;
  font-size: 1.25rem
}

.centerCaption .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

.centerCaption .carousel-caption h3 {
  font-family: Lato;
  font-weight: bold;
  font-size: 3rem;
}

.centerCaption .carousel-caption p {
  font-family: RobotoSlab;
  font-weight: 300;
  font-size: 1.25em
}
