.imageBoxContainer {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.imageBoxImage {
  display: block;
  width: 100%;
  height: auto;
}

.imageBoxModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(38, 69, 80);
}

.imageBoxText {
  color: white;
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-25%, -75%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

.imageBoxContainer:hover .imageBoxModal {
  opacity: 0.75
}

.imageBoxLink {
  transition: .5s ease;
  color: black;
  margin-bottom: 10px;
}

.imageBoxLink.active {
  transition: .5s ease;
  color: rgb(231, 203, 75)
}