@font-face {
  font-family: Lato;
  src: url('../../assets/Lato-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url('../../assets/Lato-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Lato;
  src: url('../../assets/Lato-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: RobotoSlab;
  src: url('../../assets/RobotoSlab-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: RobotoSlab;
  src: url('../../assets/RobotoSlab-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: RobotoSlab;
  src: url('../../assets/RobotoSlab-Light.ttf');
  font-weight: 300;
}

body {
  font-family: Lato, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.altFont {
  font-family: RobotoSlab;
}

#nav-container {
  width: 100%;
}

#navbar-menu-container {
  margin: 0 auto;
  display: inherit;
  float: left;
  margin-top: -55px;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.carousel-indicators li {
  border-radius: 10px;
  margin: 1px 3px;
  height: 10px;
  max-width: 10px;
  border: 1px solid #FFF;
  background-color: transparent;
}
.carousel-indicators .active {
  background-color: #fff;
  max-width: 12px;
  margin: 0 3px;
  height: 12px;
}

#contactForm ul {
/*list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;*/
  list-style-type: none;
  text-align: center;
}

#contactForm li {
  display: inline-block;
}

#contactForm li a {
  display: block;
  color: #333333;
  text-align: center;
  padding: 16px 50px;
  text-decoration: none;
  font-weight: bold;
}

#highlight-caption {
  padding: 0 1rem 0 2rem;
}

#map-container {
  padding-left: 20px; 
}

#locationImageOne {
  padding: 20px 0;
}

#locationImageTwo {
  padding: 30px 0;
}

#locationImageThree {
  padding: 30px 0 30px 100px;
}

#locationHeadlineWrapper {
  padding: 75px 0 50px 100px;
}

#locationOfferWrapper {
  margin: 50px 0 30px 0;
}

#locationOfferHeader {
  text-align: right;
}

#locationOfferText {
  padding-right: 80px;
}

.location-name {
  color: #0C2D48;
  background-color: #FFF
}

.location-name:hover, .location-name:hover a {
  color: #FFD800;
  background-color: #ECECEC
}

.feature-container figure {
  width: 34px;
  height: 34px;
}

.feature-container-big figure {
  width: 50px;
  height: 50px;
}

#feature-hour {
  background-image: url('../../assets/feature-hour.png');
}
#feature-hour::before {
  position: absolute;
  width: 0;
  height: 0;
  background-image: url('../../assets/icons/clock.png');
  content: '';
}
#feature-hour:hover {
  background-image: url('../../assets/icons/clock.png');
  background-size: 34px 34px;
}

#feature-internet {
  background-image: url('../../assets/feature-internet.png')
}
#feature-internet::before {
  position: absolute;
  width: 0;
  height: 0;
  background-image: url('../../assets/icons/router.png');
  content: '';
}
#feature-internet:hover {
  background-image: url('../../assets/icons/router.png');
  background-size: 34px 34px
}

#feature-water {
  background-image: url('../../assets/feature-water.png')
}
#feature-water::before {
  position: absolute;
  width: 0;
  height: 0;
  background-image: url('../../assets/icons/coke.png');
  content: '';
}
#feature-water:hover {
  background-image: url('../../assets/icons/coke.png');
  background-size: 34px 34px
}

#feature-printer {
  background-image: url('../../assets/feature-printer.png')
}
#feature-printer::before {
  position: absolute;
  width: 0;
  height: 0;
  background-image: url('../../assets/icons/printer.png');
  content: '';
}
#feature-printer:hover {
  background-image: url('../../assets/icons/printer.png');
  background-size: 34px 34px
}

#feature-locker {
  background-image: url('../../assets/feature-locker.png')
}
#feature-locker::before {
  position: absolute;
  width: 0;
  height: 0;
  background-image: url('../../assets/icons/lockers.png');
  content: '';
}
#feature-locker:hover {
  background-image: url('../../assets/icons/lockers.png');
  background-size: 34px 34px
}

#feature-desk {
  background-image: url('../../assets/feature-desk.png')
}
#feature-desk::before {
  position: absolute;
  width: 0;
  height: 0;
  background-image: url('../../assets/icons/desk.png');
  content: '';
}
#feature-desk:hover {
  background-image: url('../../assets/icons/desk.png');
  background-size: 34px 34px
}

#feature-card {
  background-image: url('../../assets/feature-card.png')
}
#feature-card::before {
  position: absolute;
  width: 0;
  height: 0;
  background-image: url('../../assets/icons/vip.png');
  content: '';
}
#feature-card:hover {
  background-image: url('../../assets/icons/vip.png');
  background-size: 34px 34px
}

#feature-price {
  background-image: url('../../assets/feature-price.png')
}
#feature-price::before {
  position: absolute;
  width: 0;
  height: 0;
  background-image: url('../../assets/icons/price-tag.png');
  content: '';
}
#feature-price:hover {
  background-image: url('../../assets/icons/price-tag.png');
  background-size: 34px 34px
}

#feature-meeting-room {
  background-image: url('../../assets/feature-meetingroom.png')
}
#feature-meeting-room::before {
  position: absolute;
  width: 0;
  height: 0;
  background-image: url('../../assets/icons/interview.png');
  content: '';
}
#feature-meeting-room:hover {
  background-image: url('../../assets/icons/interview.png');
  background-size: 34px 34px
}

#feature-cfun {
  background-image: url('../../assets/icons/laugh.png');
  background-size: 50px 50px;
}

#feature-sdevelopment {
  background-image: url('../../assets/icons/head.png');
  background-size: 50px 50px;
}

#feature-whours {
  background-image: url('../../assets/icons/clock-grey.png');
  background-size: 50px 50px;
}

#feature-chub {
  background-image: url('../../assets/icons/handshake.png');
  background-size: 50px 50px;
}

#feature-ffwater {
  background-image: url('../../assets/icons/tea.png');
  background-size: 50px 50px;
}

#feature-pdiscounts {
  background-image: url('../../assets/icons/sales.png');
  background-size: 50px 50px;
}

@media only screen and (max-width: 800px) {
  #highlight-caption {
    padding: 0 2rem;
  }
  #map-container {
    padding: 0;
  }

  #locationImageOne, #locationImageTwo, #locationImageThree {
    padding: 0;
  }

  #locationImageTwo {
    display: flex;
    flex-direction: column;
  }

  #imageTwoImage {
    display: block;
    order: 1;
  }

  #imageTwoText {
    display: block;
    order: 2;
  }

  #locationHeadlineWrapper {
    padding: 10px;
  }

  #locationOfferWrapper {
    margin: 20px 0
  }

  #locationOfferHeader {
    text-align: center;
  }

  #locationOfferText {
    padding: 10px;
  }

  #locationPriceWrapper {
    margin-bottom: 20px;
  }
  
  #locationPriceWrapper h1 {
    font-size: x-large;
  }
  
}